* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --Background-Darkmode: #262342;
  --Text-Darkmode: #ebebeb;
  --Text-Lightmod: rgb(24, 24, 24);
  --Heder: #adadad;
}
body {
  background-color: var(--Background-Darkmode);
  color: var(--Text-Darkmode);
}
/* ---------
 * General *
 ----------*/
.flex {
  display: flex;
}
/* ? img */
.meg {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: -2px 2px 5px;
}
.icons {
  width: 10%;
}
/* --------
* Text Styling *
---------*/
.text-paragraf,
.nav-btn {
  font-weight: bold;
}
h1 {
  font-size: 50px;
}

/* --------
* Button *
---------*/
.nav-btn {
  color: var(--Text-Lightmod);
  background: none;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px 10px;
}
/* --------
* Header *
---------*/
header {
  justify-content: center;
  background-color: rgba(var(--Heder), 0, 3);
}
/* -------------
* introduksjon *
---------------*/
#introduksjon {
  justify-content: space-evenly;
  margin: 50px 00px;
}
aside {
  margin: auto 30px;
}
/* -------
* Om meg *
---------*/
#om-meg {
  justify-content: space-evenly;
  margin: 50px 0px;
}
main {
  justify-content: center;
  max-width: 70%;
}
/* -------
* Footer *
---------*/
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#icon-comtainer {
  margin: 30px auto;
  justify-content: center;
}
