* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --Background-Darkmode: #262342;
  --Text-Darkmode: #ebebeb;
  --Hover: #adadad;
}
body {
  background-color: var(--Background-Darkmode);
  color: var(--Text-Darkmode);
}
/* ---------
 * General *
 ----------*/
.flex {
  display: flex;
}
/* --------
* Header *
---------*/
header {
  justify-content: center;
  margin: 10px 0px;
}
/* -------------
* introduksjon *
---------------*/
#introduksjon {
  justify-content: space-evenly;
  margin: 50px 0px;
}
/* -------
* Om meg *
---------*/
#om-meg {
  justify-content: space-evenly;
  margin: 50px 0px;
}
main {
  justify-content: center;
  max-width: 70%;
}
/* -------
* Footer *
---------*/
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#link {
  margin: 30px 0px;
}
